<div class="container ots">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3" >
        
        <div class="col">
          <div class="card shadow-sm">
            <img src="/images/spina.jpg" class="" width="100%">

            <div class="card-body">
              <p class="card-text">Это более широкая карточка с вспомогательным текстом ниже как естественный ввод к дополнительному контенту. Этот контент немного длиннее.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Смотреть</button>
                </div>
              </div>
            </div>
          </div>
        </div>
       

        <div class="col">
          <div class="card shadow-sm">
            <img src="/images/spina.jpg" class="" width="100%">

            <div class="card-body">
              <p class="card-text">Это более широкая карточка с вспомогательным текстом ниже как естественный ввод к дополнительному контенту. Этот контент немного длиннее.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Смотреть</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="/images/spina.jpg" class="" width="100%">

            <div class="card-body">
              <p class="card-text">Это более широкая карточка с вспомогательным текстом ниже как естественный ввод к дополнительному контенту. Этот контент немного длиннее.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Смотреть</button>
                </div>
              </div>
            </div>
          </div>
        </div>  

        <div class="col">
          <div class="card shadow-sm">
            <img src="/images/spina.jpg" class="" width="100%">

            <div class="card-body">
              <p class="card-text">Это более широкая карточка с вспомогательным текстом ниже как естественный ввод к дополнительному контенту. Этот контент немного длиннее.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Смотреть</button>
                </div>
              </div>
            </div>
          </div>
        </div>               

      </div>
    </div>